<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
{% load bootstrap_toolkit %}

{% if ticket_list %}
  <table class="table">
  <caption> List of tickets already issued </caption>

  <thead>
  <th> Ticket Number </th>
  <th> Created By </th>
  <th> Time created at </th>
  <th> Status </th>
  <th> Comment </th>
  </thead>
  <tbody> 
  {% for ticket in ticket_list %}
    <tr>
      <td><a class="brand" href="/tickets/{{ticket.id}}/">{{ticket.id}}</a></td> 
      <td><a class="brand" href="/tickets/{{ticket.id}}/">{{ticket.created_by}} </a></td> 
      <td><a class="brand" href="/tickets/{{ticket.id}}/"> {{ticket.pub_date|date:"M-D-Y"}} </a></td> 
      <td><a class="brand" href="/tickets/{{ticket.id}}/">{{ticket.status}}.</a></td> 
      <td><a class="brand" href="/tickets/{{ticket.id}}/"> {{ticket.comment}} </a></td></tr>
  {% endfor %}
  </tbody>
  </table>
{% else %}
  <p> List of tickets is empty </p>
{% endif %}