<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
{% load bootstrap_toolkit %}
<div class="container">
<h3> Tickets booked by {{ username }}</h3>
{% if output_ticket %}
    {% for ticket in output_ticket %}
      <br />
      <div class="container"> <p class="text-error"> Ticket number: {{ticket.id}} </p></div>
      <div class="container"><p class="text-success"> Status: {{ticket.status}} </p> </div>
      <div class="container"><p class="text-info"> Comments: {{ticket.comment}} </p></div>
    {% endfor %}
  <br />
{% else %}
  <p> You have no tickets booked yet </p>
{% endif %}
<br />
<br />
<a href="/create/{{ user_id }}"> <button class="btn btn-success"> Book more Tickets Here </button> </a> 
<a href="/logout/"> <button class="btn btn-warning"> Logout </button> </a>
</div>