<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
{% load bootstrap_toolkit %}
<h3> Tickets booked by {{ username }}</h3>
{% if output_ticket %}
    {% for ticket in output_ticket %}
      <br />
      <p class="text-error"> Ticket number: {{ticket.id}} </p>
      <p class="text-success"> Status: {{ticket.status}} </p> 
      <p class="text-info"> Comments: {{ticket.comment}} </p>
    {% endfor %}
  <br />
{% else %}
  <p> You have no tickets booked yet </p>
{% endif %}
<br />
<br />
<p> <a href="/create/{{ user_id }}"> Book Tickets Here </a> </p>
