<h1> Tickets booked </h1>
{% if output_ticket %}
  <ul> 
    <li> Ticket number: {{output_id}} </li> 
    <li> Status: {{output_status}} </li> 
    <li> Comments: {{output_comment}} </li>
  </ul>   
{% else %}
  <p> You have no tickets booked yet </p>
{% endif %}
<br />
<h2> Book Tickets </h2>
<p> This is your user_id: {{user_id}} </p>
<form action="/add/{{ user_id }}/" method="post">
{% csrf_token %}
  <input type="text" name="comment" id="comment"/>
  <input type="submit" value="Add Ticket"/>
</form> 
 


